.sidebar {
    background-color: red;
    width: 100%;
    height: 200px;
}

.slide-left {
    background-color: blue;
    width: 100%;
    height: 200px;
}

.slide-right {
    background-color: yellow;
    width: 100%;
    height: 200px;
}
